.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.random-meal {
    width: 50%;
    text-align: center;
}
.random-meal figure {
    border: 1px solid #FFC300;
    border-radius: 10px;
    cursor: pointer;
}
.random-meal figure img {
    border: 1px solid #FFC300;
    border-radius: 10px 10px 0px 0px ;
}

.category {
    width: 100%;
    text-align: center;
}

.meal-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-cat figure {
    width: 22%;
    height: 270px;
    border: 1px solid #FFC300;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.meal-cat figure img {
    width: 100%;
    height: 200px;
    border: 1px solid #FFC300;
    border-radius: 10px 10px 0px 0px ;
}